@import 'import';
.input {
  color: var(--cmskin-main-font-color);
  height: 1.25rem;
  font-size: 0.8rem;
  text-align: center;
  background: var(--cmskin-input-bg-color);
  box-shadow: 0 1px 0 rgba(#fff, 0.16), 0 -1px 0 $c-bg-dark;
  border: none;
  &::-webkit-input-placeholder {
    color: var(--cmskin-generic-grey);
  }
}
