@import 'import';

.btn {
  height: auto;
  color: $c-white;
  font-size: 0.8rem;
  text-decoration: none;
  background: linear-gradient(
    to bottom,
    var(--cmskin-button-highlight) 0,
    var(--cmskin-button-highlight) 45%,
    var(--cmskin-button-color) 55%,
    var(--cmskin-button-color) 100%
  );
  border-radius: 2rem;
  display: inline-block;
  text-align: center;
  width: 6rem;
  text-shadow: 0 1px rgba(#000, 0.8);
  padding: 3px;
  border-top: 1px solid rgba($c-white, 0.5);
  box-shadow: 0 0 3px 1px #000;
  position: relative;
  font-weight: 600;
  + .btn {
    margin-left: 0.5rem;
  }
  &:hover {
    color: #fff;
    background: linear-gradient(
      to bottom,
      var(--cmskin-button-hover-highlight) 0,
      var(--cmskin-button-hover-highlight) 45%,
      var(--cmskin-button-hover-color) 55%,
      var(--cmskin-button-hover-color) 100%
    );
  }
  &:active {
    color: rgba($c-white, 0.6);
    background: linear-gradient(
      to bottom,
      var(--cmskin-button-active-highlight) 0,
      var(--cmskin-button-active-highlight) 45%,
      var(--cmskin-button-active-color) 55%,
      var(--cmskin-button-active-color) 100%
    );
  }
}
