@import 'import';
.item {
  font-size: 0.8rem;
  display: flex;
  margin-bottom: 0.5rem;
}
.time {
  color: var(--cmskin-main-font-color);
  width: 5.5rem;
}
.content {
  flex: 1;
  color: var(--cmskin-main-font-highlight)
}
